//global
//colors
@primary-color: #ff9327;
@link-color: #ff9327;
@component-background: #fff;
@disabled-color: rgba(0, 0, 0, 0.25);
@text-color: #092321;
@placeholder: #b0bac9;
@font-size-base: 14px;
//borders
@border-radius-base: 3px;

//breakpoints
@screen-xxl: 1520px;
//buttons
@btn-font-weight: 400;
@btn-border-radius-base: @border-radius-base;
@btn-border-radius-sm: @border-radius-base;
@btn-shadow: none;
@btn-primary-shadow: none;
@btn-text-shadow: none;

@btn-primary-color: #fff;

@btn-default-color: @text-color;
@btn-default-bg: @component-background;
@btn-default-border: @border-color-base;
@btn-height-base: 32px;
@btn-height-lg: 40px;
@btn-height-sm: 24px;

//input
@input-height-base: 32px;
@input-height-lg: 40px;
@input-height-sm: 24px;

// Slider
@slider-rail-background-color: @background-color-base;
@slider-rail-background-color-hover: #e1e1e1;
@slider-handle-border-width: 2px;
@slider-handle-background-color: @component-background;
@slider-handle-color: @primary-3;
@slider-handle-shadow: 0;
@slider-dot-border-color: @border-color-split;
@slider-disabled-color: @disabled-color;
@slider-disabled-background-color: @component-background;

//tooltips

@tooltip-bg: rgba(0, 0, 0, 0.9);

//z index
@zindex-modal: 1080;
@zindex-modal-mask: 1080;
@zindex-message: 1100;
@zindex-notification: 1100;
@zindex-popover: 1080;
@zindex-dropdown: 1080;
@zindex-picker: 1050;
@zindex-tooltip: 1090;
