.mainContainer {
  background: rgb(216, 203, 203);
}
.content-physican{
  min-height: 89vh;
}
.ant-layout-sider{
  min-height: 89vh;
}
.wrap-container{
  padding: 40px 0;
}
h1{
  font-size: 24px;
  font-weight: bold;
}